body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* background-color: #f9f9f9; */
  background-color: #333;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app__body {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #646cff;
  padding: 20px;
  display: none; /* Oculta por defecto */
}

.sidebar.open {
  display: block; /* Muestra si tiene la clase "open" */
}

.header {
  display: flex;
  align-items: center;
  background-color: #242424;
  padding: 10px 15px;
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.1);
}

.header__menu {
  margin-right: 20px;
}

.header__menu button {
  color: aliceblue;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.header__logo {
  color: aliceblue;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 50px; /* Tamaño deseado para mostrar la imagen */
  height: auto; /* Mantiene la relación de aspecto original */
  margin-right: 0px;
}

.header__text {
  font-size: 16px; /* Tamaño de fuente del texto */
}

.search {
  flex-grow: 1; /* Hace que el componente Search ocupe el espacio restante en el medio del header */
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__box {
  /* background-color: #f8f8f8; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
}

.search__box input {
  border: none;
  outline: none;
  padding: 8px;
  width: 350px;
}

.search__box button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}